<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
   text-align: left;
}
.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
.container { overflow: hidden; }
</style>
</head>
<body>
  <div ng-app="myApp" ng-cloak>
      <div class="container">
          <div class="floatLeft">
<table width="600px">
  <caption><b>Application</b></caption>
  <tr>
    <th>Data</th>
    <th>Entry</th>
    <th>Hint</th>
  </tr>
  <tr>
    <td>ToWhom</td>
    <td><p><input type="text" ng-model="name"></p></td>
    <td>Receiver</td>
  </tr>
  <tr>
    <td>Date</td>
    <td><p><input type="date" ng-model="date"></p></td>
    <td><p>Enter date of application</p></td>
  </tr>
  <tr>
    <td>Subject:</td>
    <td><p><input type="text" ng-model="subject"></p></td>
    <td><p>Enter subject of application</p></td>
  </tr>
  <tr>
    <td>Sir/Mam</td>
    <td> <select ng-model="sir">
      <option value="Sir">Sir</option>
      <option value="Mam">Mam</option>
    </select> </td>
    <td><p>Enter Sir/Mam</p></td>
  </tr>
  <tr>
    <td>Session</td>
    <td><p><input type="text" ng-model="session"></p></td>
    <td><p>Enter like 2019-20</p></td>
  </tr>
</table>
</div>

<div class="floatRight">
<p>The {{name |capitalize}}<br>Ajay Kumar Garg Engineering College<br>Ghaziabad</p>
<p><b>Date:</b>{{date|date : "dd.MM.y" }}</p>
<p><b>Subject:</b><u>{{subject|capitalize}}</u></p>
<p>{{sir}},<br>This is to bring under your kind notice that with the commencement of the new academic session {{session}}, we would like to take your sincere permission for using BDCoE Lab after college hours, i.e., 4:00 P.M.
</p>
<p>The lab would be fervently used by the BDCoE members for understanding and working on emerging technologies and build projects accordingly.
</p><p>We will be highly obliged.
  </p>
<p>Thanking You
<br>Yours Sincerely<br>
Big Data Centre of Excellence</p>
</div>
</div>
</div>
<script>
    var app = angular.module('myApp',[]);
    app.filter('capitalize', function() 
{
      return function(input) {
      x="";
      y=input;
      for (i=0;i<input.length;i++)
      {
      if(i==0) x=x+y[i].toUpperCase(); else x=x+y[i];
      }
      return (x);
    }
});
   </script>
</body>
</html>
